.titulo-principal{
    text-align: center;
    font-size: 2em ;
    margin: 1em;
    clear: left;
}

p{
    text-align: center ;
    margin: 1em;
    
}

.imagem-quem-somos{

    height:600px ;
    width: 800px;
    padding-left: 250px;
    margin: 1em;
}

.beneficios{
    padding: 3em 0;
 }
 
 .conteudo-beneficios{
    width: 940px;
    margin: 0 auto;
 }

 .item{

}

.item:first-child{
font-weight:bold;
}

.item::before{
   content: "★";
}
.imagem-beneficios{
    display: inline;
    width: 60%;
    box-shadow: 10px 10px 30px #000;
 }


.mapa{

}
.conteudo-mapa{
    height:600px ;
    width: 800px;
    padding-left: 250px;
}

.video{

}

.conteudo-video{
    height:600px ;
    width: 800px;
    padding-left: 250px;
    margin: 1em;
}